# Core dependencies
pyspark==3.5.3
pymongo==4.8.0
boto3==1.34.144
pandas==2.1.4
python-dotenv==1.0.1
requests==2.31.0
numpy==1.24.4
seaborn==0.13.0
py4j==0.10.9.7

# Jupyter dependencies
jupyter==1.0.0
jupyterlab==4.0.9
ipykernel==6.29.0
ipywidgets
matplotlib==3.8.2
plotly==5.17.0

